*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    height: 100vh;
}
.top{
    display: flex;
    margin: 0px;
    height: 50px;
    background-color: #ffff;
}
a{
    margin: 20px;
    text-decoration: none;
}
.menu{
    display: flex;
    margin-left: 800px;
}
button{
    background-color: #008080;
    width: 150px;
    height: 40px;
    border: none;
    color: #ffff;
}
form{
    background: #ffff;
    width: 500px;
    height: 200px;
    margin: 60px;
    padding: 40px;
    border: 1px solid #808080;
    margin-left: 500px;
}
input{
    width: 300px;
    margin: 5px;
}
button{
    background-color: #008080;
    width: 150px;
    height: 40px;
    border: none;
    color: #ffff;
}
